body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #CAF0F8;
    color: #313131;
}

.contain_scroll::-webkit-scrollbar {
    width: 10px;
}

.contain_scroll::-webkit-scrollbar-track {
    background: #CAF0F8;
}

.contain_scroll::-webkit-scrollbar-thumb {
    background: #92e8fa;
}

.main_c_cont_at {
    margin: 10px;
    width: 100%;
    margin-right: 40px;
    box-shadow: inset -3px -3px 7px #c7c7c7ae,
        inset 3px 3px 5px rgba(0, 0, 0, 0.418);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: auto;
}

.C_contain_scroll_hid {
    display: none;
}

.branch_cont {
    display: flex;
    margin-right: 25px;
}

.cont_r_l {
    width: 1100px;
    /* margin-right: 20px;
    margin-left: 20px; */
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    box-shadow: -3px -3px 7px #c7c7c7ae, 3px 3px 5px rgba(0, 0, 0, 0.418);
    border-radius: 20px;
}

.cont_right {
    width: 500px;
}

.cont_left {
    width: 500px;
}

.main_c_cont_at .sem {
    width: 90%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    /* border: 1px solid #ffffff; */
    border-radius: 10px;
    background-color: #f1f8fa;
}

.label {
    margin-left: 25px;
}

.label1 {
    margin-left: 20px;

}

.button {
    padding: 10px;
    width: 100px;
    background-color: rgba(20, 101, 214, 0.933);
    color: #e4faff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;

}


.button:hover {
    padding: 10px;
    width: 100px;
    background-color: rgb(29, 94, 186);
    border: #333;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    color: #e4faff;
}

.navhead h1 {
    margin-left: 15px;
    margin-top: 25px;
}

td {
    padding-left: 15px;
}

.buttton:hover {
    background-color: rgb(26, 88, 188);
}

button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.nav {
    display: flex;
}

.navbar {
    background-color: #E9FBFF;
    width: 300px;
    border-radius: 8px;
    height: 80vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.title_div h1 {
    text-shadow: rgb(0, 0, 0) 2px, 7px, 5px;
}

li {
    padding-top: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
}


ul {
    font-size: 25px;
    margin-top: 12px;
    margin-bottom: 7px;
    text-decoration: none;
}

hr {
    width: 77%;
    margin-right: 38px;
}

a {
    text-decoration: none;
    color: black;
}

.main-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card {
    background-color: #E9FBFF;
    width: 1000px;
    height: 100px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.w_card {
    background-color: #E9FBFF;
    width: 100%;
    height: 50px;
    color: rgb(20, 101, 214);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.course_card {
    background-color: #E9FBFF;
    width: 95%;
    height: 500px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.main_c_cont h3 {
    padding-left: 120px;
    display: flex;
    margin-top: 30px;
    font-size: 25px;
    margin-left: -60px;
}

.main_c_cont_cr h3 {
    padding-left: 70px;
    display: flex;
    margin-top: 30px;
    font-size: 25px;
    margin-left: 0px;
}

.bt_cont h3 {
    padding-left: 70px;
    display: flex;
    margin-top: 30px;
    font-size: 25px;
    margin-left: 0px;
}

.sidebar {
    background-color: #E9FBFF;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 20px;
}

.main_cont {
    display: flex;
    height: 87vh;
}

.main_c_cont {
    margin: 10px;
    width: 100%;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main_c_cont_cr {
    margin: -10px;
    width: 100%;
    margin-right: 40px;
}

.main_c_cont_cr_hid {
    display: none;
}

.main_c_cont_hid {
    display: none;
}

.add_course {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add_course_hid {
    display: none;
}

.upd_course {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upd_course_hid {
    display: none;
}

.main_c_cont_t {
    margin: 10px;
    width: 100%;
    margin-right: 40px;
    box-shadow: inset -3px -3px 7px #c7c7c7ae,
        inset 3px 3px 5px rgba(0, 0, 0, 0.418);
    border-radius: 20px;
    margin: 15px;
    overflow: auto;
}

.m_card {
    background-color: #E9FBFF;
    width: 100%;
    height: 100px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.tb_card {
    background-color: #E9FBFF;
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.t_tb_card {
    background-color: #E9FBFF;
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.side_card {
    background-color: #e4faff;
    height: 40px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.side_card:hover {
    background-color: #b6f2ff;
    height: 40px;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.side_card_active {
    background-color: #e4faff;
    height: 40px;
    border-radius: 8px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;

}

.sidebar ul {
    font-size: 22px;
    display: flex;
    text-decoration: none;
    padding-left: 10px;
}


.wel_card {
    background-color: #E9FBFF;
    width: 97.6%;
    height: 500px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.multiselect {
    width: 100%;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#mySelectOptions {
    display: none;
    border: 0.5px #7c7c7c solid;
    background-color: #ffffff;
    max-height: 150px;
    overflow-y: scroll;
}

#mySelectOptions label {
    display: block;
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    background-color: #ffffff00;
    padding: 0 2.25rem 0 .75rem;
    /* padding: .375rem 2.25rem .375rem .75rem; */
}

#mySelectOptions label:hover {
    background-color: #1e90ff;
}

.form_card {
    background-color: #CAF0F8;
    width: 97.6%;
    height: 500px;
    border-radius: 8px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow: auto;
}

.formdiv {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.input {
    display: flex;
    flex-direction: column;
}

.add_course_card {
    background-color: #E9FBFF;
    width: 100%;
    height: 330px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding: 60px;
}

.add_course_card_cont {
    display: flex;
    justify-content: center;
}

.upd_course_card {
    background-color: #E9FBFF;
    width: 100%;
    height: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    padding: 20px;
}

.upd_course_card_cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.upd_course_card_cont input {
    margin-top: 5px;
}

.material-symbols-outlined {
    margin-right: 5px;
}

.lgt_div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 70px;
}

.lgt_div .button {
    padding: 10px;
    background-color: rgb(80, 132, 206);
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    width: 100px;
}

.form_card .button {
    padding: 10px;
    background-color: rgb(80, 132, 206);
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    width: 100px;
}

.nav_head {
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
    margin-left: 10px;
}

.bt_c_cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 40px;
    margin-bottom: 10px;
}

.bt_cont {
    display: flex;
    width: 100%;
    margin-left: 10px;
}

.icon i {
    margin-right: 30px;
}

.btn_card {
    background-color: #E9FBFF;
    width: 100%;
    height: 100px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

#button_lg {
    width: 90px;
    height: 50px;
    padding: 20px, 20px;
    background-color: rgb(20, 101, 214);
    color: rgb(208, 208, 208);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
}

.main_c_cont span {
    margin-right: 10px;
}

.main_c_cont_cr span {
    margin-right: 10px;
}

.main_c_cont_t span {
    margin-right: 10px;
}

.popup {
    background-color: #E9FBFF;
    width: 500px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, center 0.4s;
}

.popup_C {
    display: block;
    background-color: #E9FBFF;
    width: 500px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 30px;
    color: #333;
}

.open_popup {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1)
}

.popup h2 {
    font-size: 2em;
}


.popup h4 {
    font-size: 1.5em;
}

.popup button {
    width: 90%;
    padding: 10px;
    margin-top: 30px;
    margin: 20px;
    background-color: rgb(20, 101, 214);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #CAF0F8;
}

.button_cont {
    display: flex;
    justify-content: space-between;
}

.request {
    display: flex;
    background-color: #E9FBFF;
    width: 90%;
    height: 70px;
    /* margin: 10px; */
    border-radius: 30px;
    box-shadow: inset -3px -3px 7px #c7c7c773,
        inset 3px 3px 5px rgba(0, 0, 0, 0.418);
    text-align: center;
    padding: 10px;
    margin: auto;
    align-items: center;
}

.request p {
    font-size: 1.5em;
}

.form_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

.form_c_cont {
    display: flex;
    width: 650px;
    padding: 30px;
    box-shadow: -3px -3px 7px #c7c7c773,
        3px 3px 5px rgba(0, 0, 0, 0.418);
    border-radius: 10px;
    flex-direction: column;
}

.name {
    display: flex;
    flex-direction: column;
}

.nameM {
    display: flex;
    flex-direction: column;
}

.name_r {
    display: flex;
    flex-direction: column;
}

.name_cont {
    display: flex;
    justify-content: space-between;
    margin: 10px
}

.radio_cont {
    display: flex;
}

.radio_cont input {
    height: 20px;
}

.name input {
    width: 180px;
    height: 30px;
    border-radius: 8px;
}

.nameM input {
    width: 20px;
    height: 30px;
    border-radius: 8px;
}

.name select {
    width: 180px;
    height: 33px;
    border-radius: 8px;
}

.form_c_cont select {
    width: 180px;
    height: 30px;
    border-radius: 8px;
}

.form_button_cont {
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
}

.form_button_cont button {
    padding: 10px;
    color: #CAF0F8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.timeTableHead {
    width: 100%;
    display: block;
    margin-top: 20px;
    margin-right: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.sem {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    /* border: 1px solid #ffffff; */
    border-radius: 10px;
    background-color: #f1f8fa;
}

.label {
    margin-left: 15px;
}

table,
th,
td {
    border-collapse: collapse;
}

th,
td {
    padding: 10px 20px;
}

table {
    margin-top: 20px;
}

td {
    text-align-last: center;
    font-size: 15px;
    font-weight: 200;
}

.contain_scroll {
    width: 94.50%;
    padding: 20px;
    padding-bottom: 10px;
    height: 60%;
    box-shadow: inset -3px -3px 7px #c7c7c773,
        inset 3px 3px 5px rgba(0, 0, 0, 0.418);
    border-radius: 10px;
    margin: 20px;
    margin-right: 40px;
    overflow: auto;
    overflow-x: hidden;
}

.C_contain_scroll {
    display: flex;
    width: 94.50%;
    padding: 20px;
    padding-bottom: 10px;
    height: 90%;
    box-shadow: inset -3px -3px 7px #c7c7c773, inset 3px 3px 5px rgba(0, 0, 0, 0.418);
    border-radius: 10px;
    margin: 20px;
    margin-right: 40px;
    overflow: auto;
    overflow-x: hidden;
    align-items: center;
    flex-direction: column;
}

.branch_cont {
    display: flex;
    justify-content: space-evenly;
}

.branch_cont b {
    display: flex;
    align-items: center;
}

.branch_cont select {
    padding: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    /* border: 1px solid #ffffff; */
    border-radius: 10px;
    background-color: #f1f8fa;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin: 10px
}

.buttons button {
    width: 100px;
    height: 40px;
    padding: 10px;
    color: #CAF0F8;
}

.timeTableHeader {
    text-align: center;
    margin-top: -35px;

}

.dialog {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 50px;
}

.timeTableButton {
    width: 90%;
    padding: 10px;
    margin-top: 30px;
    margin: 20px;
    background-color: rgb(20, 101, 214);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #CAF0F8;
}

.dialog .sem {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 0px;
    box-sizing: border-box;
    border: 1px solid black;
    /* border: 1px solid #ffffff; */
    border-radius: 10px;
    background-color: #f1f8fa;
}

.tdContant {
    display: flex;
}

.timeTable_Button {
    display: flex;
}

.thr {
    display: flex;
    justify-content: space-between;
}

.pra {
    display: flex;
    justify-content: space-between;
}

.pra_hid {
    display: none;
}

.thr_hid {
    display: none;
}

.input select {
    width: 175px;
}

.t_tablecss{
    width: 100%;
}

.t_tablecss table {
    width: 90%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid #aad7ff;
  }
  
  /* Style the table header */

.t_tablecss th {
    background-color: #b6f2ff;
    color: #333;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    border: 2px solid #aad7ff;
    width: 150px;
  }
  
  
  /* Style the table cells */
.t_tablecss  td {
    background-color: #caf0f8c2;
    padding: 8px;
    border: 2px solid #aad7ff;
  }
  
  /* Hover effect */
.t_tablecss  tr:hover {
    background-color: rgba(180, 212, 243, 0.957);
  }

.tablecss{
    width: 100%;
}

.tablecss table {
    width: 90%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 2px solid #aad7ff;
  }
  
  /* Style the table header */
.tablecss  th {
    background-color: #b6f2ff;
    color: #333;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    border: 2px solid #aad7ff;
  }
  
  
  /* Style the table cells */
.tablecss  td {
    background-color: #caf0f8c2;
    padding: 8px;
    border: 2px solid #aad7ff;
  }
  
  /* Hover effect */
.t_tablecss  tr:hover {
    background-color: rgba(180, 212, 243, 0.957);
  }