body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #CAF0F8;
}

button {
    padding: 20px, 20px;
    background-color: rgb(20, 101, 214);
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
}

h1 {
    margin-left: 15px;
    margin-top: 25px;
}

td {
    padding-left: 15px;
}

.buttton:hover {
    background-color: rgb(26, 88, 188);
}

button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.nav {
    display: flex;
}

.navbar {
    background-color: #E9FBFF;
    width: 300px;
    border-radius: 8px;
    height: 80vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

li {
    padding-top: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
}


ul {
    font-size: 25px;
    margin-top: 12px;
    margin-bottom: 7px;
    text-decoration: none;
}

hr {
    width: 77%;
    margin-right: 38px;
}

a {
    text-decoration: none;
    color: black;
}

.main-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card {
    background-color: #E9FBFF;
    width: 1000px;
    height: 100px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.w_card {
    background-color: #E9FBFF;
    width: 100%;
    height: 50px;
    color: rgb(20, 101, 214);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.main_c_cont h3 {
    padding-left: 120px;
    display: flex;
    margin-top: 30px;
    font-size: 25px;
    margin-left: -60px;
}

.sidebar {
    background-color: #E9FBFF;
    width: 400px;
    border-radius: 8px;
    height: 80vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 20px;
}

.main_cont {
    display: flex;
}

.main_c_cont {
    margin: 10px;
    width: 100%;
    margin-right: 40px;
}

.main_c_cont_t {
    margin: 10px;
    width: 100%;
    margin-right: 40px;
    box-shadow: inset -3px -3px 7px #c7c7c7ae,
        inset 3px 3px 5px rgba(0, 0, 0, 0.418);
    border-radius: 20px;
    margin: 15px;
}

.m_card {
    background-color: #E9FBFF;
    width: 100%;
    height: 100px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.material-symbols-outlined {
    margin-right: 5px;
}

.lgt_div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 70px;
}

.nav_head {
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
    margin-left: 10px;
}

.bt_c_cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 40px;
    justify-content: space-between;
    margin-bottom: 10px;
}

.bt_cont {
    display: flex;
    width: 100%;

}

.icon i {
    margin-right: 30px;
}

.btn_card {
    background-color: #E9FBFF;
    width: 100%;
    height: 100px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

#button_lg {
    width: 90px;
    height: 50px;
    padding: 20px, 20px;
    background-color: rgb(20, 101, 214);
    color: rgb(208, 208, 208);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
}

.main_c_cont span {
    margin-right: 10px;
}

.popup {
    background-color: #E9FBFF;
    width: 500px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, center 0.4s;
}

.open_popup {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1)
}

.popup h2 {
    font-size: 2em;
}


.popup h4 {
    font-size: 1.5em;
}

.popup button {
    width: 90%;
    padding: 10px;
    margin-top: 30px;
    margin: 20px;
    background-color: rgb(20, 101, 214);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #CAF0F8;
}

.button_cont {
    display: flex;
    justify-content: space-between;
}

.request {
    display: flex;
    background-color: #E9FBFF;
    width: 90%;
    height: 70px;
    /* margin: 10px; */
    border-radius: 30px;
    box-shadow: inset -3px -3px 7px #c7c7c773,
        inset 3px 3px 5px rgba(0, 0, 0, 0.418);
    text-align: center;
    padding: 10px;
    margin: auto;
    align-items: center;
}

.request p {
    font-size: 1.5em;
}

.form_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

.form_c_cont {
    display: flex;
    width: 650px;
    padding: 30px;
    box-shadow: -3px -3px 7px #c7c7c773,
        3px 3px 5px rgba(0, 0, 0, 0.418);
    border-radius: 10px;
    flex-direction: column;
}

.name {
    display: flex;
    flex-direction: column;
}

.name_r {
    display: flex;

}

.name_cont {
    display: flex;
    justify-content: space-between;
    margin: 10px
}

.radio_cont {
    display: flex;
}

.radio_cont input {
    height: 20px;
}

.name input {
    width: 180px;
    height: 30px;
    border-radius: 8px;
}

.form_c_cont select {
    width: 180px;
    height: 30px;
    border-radius: 8px;
}

.form_button_cont {
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
}

.form_button_cont button {
    width: 200px;
    padding: 10px;
    color: #CAF0F8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.timeTableHead {
    width: 1070px;
    display: flexbox;
    margin-top: 20px;
    /* margin-left: 25px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px; 
}

.sem {
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    /* border: 1px solid #ffffff; */
    border-radius: 10px;
    background-color: #f1f8fa;
}
.label{
    margin-left: 15px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  th , td {
    padding: 10px 20px;
  }

  table{
    margin-top: 20px;
  }

  td{
    text-align-last: center;
    font-size: 20px ;
    font-weight: 200;
}