*{
    margin: 0px;
    padding: 0px;
}
body {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #CAF0F8;
    flex-direction: column;
    margin-top: 150px;
}


.login-container {
    position: relative;
    /* background-color: aliceblue; */
    background-color: #90e1ef;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    align-items: center;
    width: 400px;
    margin: auto;
}

.login-form {
    width: 350px;
    margin: 0 auto;
    height: 320px;
}

.icon-pass{
    position: absolute;
    width: 60px;
    height: 100%;
    display:inline ;
    align-items: center;
    justify-content: center;
    right: 15px;
    top: 199px;
}

.icon-user{
    position: absolute;
    width: 60px;
    height: 100%;
    display:inline ;
    align-items: center;
    justify-content: center;
    right: 15px;
    top: 116px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 25px;
}

label {
    display: block;
    margin-top: 10px;
    color: #03045E;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid black;
    /* border: 1px solid #ffffff; */
    border-radius: 10px;
    background-color: #f1f8fa;
}

.username::after {
    content: "\1F464"; /* Unicode character for user icon */
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #333; /* Adjust the color as needed */
  }

.username:focus::placeholder{
    color: transparent;
}

.password:focus::placeholder{
    color: transparent;
}

.username:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.password:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.btt:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

button {
    margin-top: 25px;
    width: 100%;
    padding: 10px;
    background-color: #0096C7;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #0077B6;
}

h2 {
    margin-bottom: 140px;
    margin-left: 20px;
    margin-top: 30px;
    font-size: 30px ;
    font-family: 'Caveat', cursive;
}