* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #CAF0F8;
    flex-direction: column;
    margin-top: 150px;
}

.login-container {
    position: relative;
    background-color: aliceblue;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    align-items: center;
    width: 400px;
    margin: auto;
}

.login-form {
    width: 350px;
    margin: 0 auto;
    height: 320px;
}

.icon-pass {
    position: absolute;
    width: 60px;
    height: 100%;
    display: inline;
    align-items: center;
    justify-content: center;
    right: 15px;
    top: 199px;
}

.icon-user {
    position: absolute;
    width: 60px;
    height: 100%;
    display: inline;
    align-items: center;
    justify-content: center;
    right: 15px;
    top: 116px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 25px;
}

.passlabel {
    display: block;
    margin-top: 10px;
    color: #03045E;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid black;
    /* border: 1px solid #ffffff; */
    border-radius: 10px;
    background-color: #f1f8fa;
}

.username::after {
    content: "\1F464";
    /* Unicode character for user icon */
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #333;
    /* Adjust the color as needed */
}

.username:focus::placeholder {
    color: transparent;
}

.password:focus::placeholder {
    color: transparent;
}

.username:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.password:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.btt:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

button {
    margin: 15px;
    width: 100%;
    padding: 10px;
    background-color: #0096C7;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #0077B6;
}

h2 {
    margin-bottom: 140px;
    margin-left: 20px;
    margin-top: 30px;
    font-size: 30px;
    font-family: 'Caveat', cursive;
}

.nav_head {
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
    margin-left: 10px;
    margin-top: -120px;
}

.lgt_div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 70px;
}

.sidebar {
    background-color: #E9FBFF;
    width: 400px;
    border-radius: 8px;
    height: 80vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 20px;
}

.main_cont {
    display: flex;
}

li {
    padding-top: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
}


ul {
    font-size: 25px;
    margin-top: 12px;
    margin-bottom: 7px;
    text-decoration: none;
    margin-left: 20px;
}

hr {
    width: 80%;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: black;
}

#h1 {
    text-align: center;
    color: #333;
    margin: 20px;
}

#button {
    margin-top: -40px;
    width: 100%;
    padding: 10px;
    background-color: #0096C7;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.academic-form {
    width: 1500px;
    margin: 0px auto;
    height: 320px;
}

.container1 {
    display: flex;
}


.sem {
    width: 90%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    /* border: 1px solid #ffffff; */
    border-radius: 10px;
    background-color: #f1f8fa;
}

.label {
    margin-left: 25px;
}

.label1 {
    margin-left: 25px;
    font-size: 25px;
}

.btt {
    width: 40%;
}

.radio-inputs {
    position: relative;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color: #EEE;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.25rem;
    width: 300px;
    font-size: 14px;
  }
  
  .radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
  }
  
  .radio-inputs .radio input {
    display: none;
  }
  
  .radio-inputs .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .5rem 0;
    color: rgba(51, 65, 85, 1);
    transition: all .15s ease-in-out;
  }
  
  .radio-inputs .radio input:checked + .name {
    background-color: #fff;
    font-weight: 600;
  }

.btt1 {
    width: 30%;
    padding: 10px;
    margin-left: 20px;
    background-color: white;
    color: #0096C7;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid #0077B6;
}

.sem1 {
    width: 20px;
    margin-left: 15px;
}

.main_c_cont_t {
    margin: 10px;
    width: 100%;
    margin-right: 40px;
    box-shadow: inset -3px -3px 7px #c7c7c7ae,
        inset 3px 3px 5px rgba(0, 0, 0, 0.418);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.branch_cont{
    display: flex;
    margin-right: 25px;
}

.cont_r_l {
    width: 1100px;
    /* margin-right: 20px;
    margin-left: 20px; */
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    box-shadow: -3px -3px 7px #c7c7c7ae, 3px 3px 5px rgba(0, 0, 0, 0.418);
    border-radius: 20px;
}

.cont_right{
    width: 500px;
}
.cont_left{
    width: 500px;
}
.buttons{
    display: flex;
    justify-content: space-evenly;
    margin:10px
}

.teach-hid{
    display: none;
}

.adm-hid{
    display: none;
}

.hod-hid{
    display: none;
}